.search-container {
    margin: 100px auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  
  .search-container .search-input {
    width: 40%;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 8px 15px 8px 12px;
    border: 1px solid #aabcca;
    border-right: 0;
    color: #000;
    outline: none;
    font-size: large;
    font-weight: 500;
  }
  
  .search-container .search-input:focus{
    border-color: #c26100;
  }
  .search-container .search-btn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color:#c26100;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #ffffff;
    padding: 12px 22px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .search-container .search-btn:hover {
    background-color: #016034;
  }
  
  
  .error-container {
    text-align: center;
    font-size: large;
    margin: 20px 10px;
  }


  .restaurant-list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: stretch;
  }