
  
  .card {
    width: 240px;
    border-radius: 5px;
    box-shadow: -1px 5px 10px 5px rgba(112, 112, 112, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .card h3{
    color: var(--light-text-title)
  }
  .card > img {
    width: 100%;
    border-radius: 10px;
  }
  
  .card > h5 {
    font-weight: lighter;
  }
  
  .card > span {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    text-align: center;
  }
  
  .card > span > h4 {
    font-weight: bolder;
    font-size: 14px;
    padding: 0 2px 0;
    margin-top: 10px;
    color: var(--light-text-title)
  }
  
  .card > span > h4:first-child {
    display: flex;
    align-items: center;
    background-color: var(--light-green);
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin-top: 5px;
  }
  
  .card > span > h4:first-child .fa-star {
    font-size: 10px;
    padding: 2px 5px 3px 0;
  }
  
  .stroke {
    height: 15px;
    background: #777;
  }
  .stroke-color {
    background: #777;
  }
  .animate {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
    background-size: 1000px 100%;
  }
  @keyframes shimmer {
    from {
      background-position: -1000px 0;
    }
    to {
      background-position: 1000px 0;
    }
  }